In [84]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from random import seed
from random import randrange
from math import sqrt

In [85]:
df = pd.read_csv('Admission_Predict.csv')
df.head(10)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
5,6,330,115,5,4.5,3.0,9.34,1,0.90
6,7,321,109,3,3.0,4.0,8.20,1,0.75
7,8,308,101,2,3.0,4.0,7.90,0,0.68
8,9,302,102,1,2.0,1.5,8.00,0,0.50
9,10,323,108,3,3.5,3.0,8.60,0,0.45

In [86]:
split = 0.7

In [87]:
df = df.values.tolist()
#split a dataset into train and test set
def train_test_split(df, split):
    train = list()
    train_size = split * len(df)
    dataset_copy = list(df)
    while len(train) < train_size:
        index = randrange(len(dataset_copy))
        train.append(dataset_copy.pop(index))
        
    print(len(dataset_copy))
    return train, dataset_copy

In [88]:
#calculate root mean squared error as a metric to evaluate the algorithm
def rmse_metric(actual, predicted):
    sum_error = 0.0
    for i in range(len(actual)):
        prediction_error = predicted[i] - actual[i]
        sum_error += (prediction_error ** 2)
    mean_error = sum_error / float(len(actual))
    return sqrt(mean_error)

In [97]:
#evaluate the algorithm using training and testing sets generated by train_test_split method
def eval_algo(df, algorithm, split, *args):
    train, test = train_test_split(df, split)
    test_set = list()
    for row in test:
        row_copy = list(row)
        row_copy[-1] = None
        test_set.append(row_copy)
    predicted = algorithm(train, test_set, *args)
    actual = [row[-1] for row in test]
    rmse = rmse_metric(actual, predicted)
    return rmse

In [90]:
#calculate mean for a given set of values
def mean(values):
	return sum(values) / float(len(values))

In [91]:
#calculate covariance between x and y
def covariance(x, mean_x, y, mean_y):
	covar = 0.0
	for i in range(len(x)):
		covar += (x[i] - mean_x) * (y[i] - mean_y)
	return covar

In [92]:
#calculate variance for a list of numbers
def variance(values, mean):
	return sum([(x-mean)**2 for x in values])

In [93]:
#calculate coefficients for linear regression
def coeff(df):
	x = [row[0] for row in df]
	y = [row[1] for row in df]
	x_mean, y_mean = mean(x), mean(y)
	b1 = covariance(x, x_mean, y, y_mean) / variance(x, x_mean)
	b0 = y_mean - b1 * x_mean
	return [b0, b1]

In [94]:
#linear regression algorithm
def lin_reg(train, test):
	pred = list()
	b0, b1 = coeff(train)
	for row in test:
		yhat = b0 + b1 * row[0]
		pred.append(yhat)
	return pred

In [99]:
#evaluate algorithm using root mean squared error
rmse = eval_algo(df, simple_linear_regression, split)

120